:root{
  --space: #444;
  --back: #333;
  --text: #999;
  --header-text: #ccc;
  --search-back: #222;
  --line: #555;
  --toggle-selected-back: #444;
  --toggle-hover-back: #555;
  --selection-back: #abc;
  --selection-text: #000;
  --focus: #f55;
  --results-highlight-back: #bb4;
  --verse-highlight-back: #553;
  --verse-highlight-text: #bbb;
  --verse-num: #ccc;
  --close-color: #888;
  --close-hover-color: #ddd;
}

@media (prefers-color-scheme: light) {
  :root{
    --space: #ddd;
    --back: #fff;
    --text: #777;
    --header-text: #111;
    --search-back: #eee;
    --line: #ddd;
    --toggle-selected-back: #444;
    --toggle-hover-back: #555;
    --selection-back: #def;
    --selection-text: #777;
    --focus: #f55;
    --results-highlight-back: #aa0;
    --verse-highlight-back: #ffb;
    --verse-highlight-text: #777;
    --verse-num: #777;
    --close-color: #888;
    --close-hover-color: #222;
  }
}

html,body{
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
  height: 100%;
  max-width: 100%;
  overflow: hidden;
}
html{
  background: var(--space);
}
body{
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  margin: 0 auto;
  ::selection{
    background: var(--selection-back);
    color: var(--selection-text);
  }
}
body,
input,
textarea{
  background: var(--back);
  color: var(--text);
}
.search{
  background: var(--search-back);
  border: 0;
  font-size: 24px;
  outline: 0;
  padding: .6em;
  width: 100%;
}
h1,h2,h3{
  color: var(--header-text);
  font-weight: 100;
  margin-top: 0;
}
h2{
  font-size: 2em;
}
.works{
  display: flex;
  justify-content: flex-start;
  padding: 12px 12px 16px;
  overflow: auto;
  border-bottom: solid 1px var(--line);
  div:not(:last-child){
    margin-right: 12px;
  }
  div{
    flex: 0 0 80px;
    border: solid 1px var(--line);
    padding: 12px;
    text-align: center;
    width: 100px;
    min-width: 100px;
    user-select: none;
    cursor: pointer;
    &.selected{
      background: var(--toggle-selected-back);
    }
    &:hover{
      background: var(--toggle-hover-back);
    }
  }
}

main{
  flex: 1;
  display: flex;
  position: relative;
  overflow: hidden;
}
main > section{
  flex: 1;
  padding: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.results{
  .status{
    font-size: 80%;
    margin-top: 0;
  }
  .scroll-wrapper{
    flex: 1;
    overflow: auto;
  }
  .list{
    line-height: 1.7em;
    cursor: pointer;
    .result{
      padding-bottom: 1em;
      &:focus{
        outline: none;
        & h3 span{
          position: relative;
          &::after{
            content: '';
            display: block;
            background: var(--focus);
            position: absolute;
            top: 8px;
            right: -20px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
          }
        }
      }
    }
    &:first-child h3{
      margin-top: 0;
    }
    h3{
      margin-bottom: 0;
    }
    p{
      margin: 0;
      font-size: 18px;
      .highlight{
        color: var(--results-highlight-back);
      }
    }
    a{
      color: var(--text);
      font-style: italic;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}

.chapter{
  background: var(--back);
  bottom: 0;
  box-sizing: border-box;
  flex: auto;
  left: 0;
  line-height: 1.7em;
  margin-left: 100%;
  position: absolute;
  right: 0;
  top: 0;
  transition: margin-left .2s ease;
  width: 100%;
  z-index: 9;
  display: flex;
  flex-direction: column;
  &.open{
    margin-left: 0;
  }
  header{
    display: flex;
  }
  h2{
    flex: 1;
  }
  .verses{
    flex: 1;
    overflow: auto;
  }
  p{
    font-size: 18px;
    &.highlight{
      background: var(--verse-highlight-back);
      color: var(--verse-highlight-text);
    }
  }
  .num{
    color: var(--verse-num);
  }
  .close-chapter{
    cursor: pointer;
    width: 24px;
    height: 24px;
    &::before,
    &::after {
      display: block;
      content: '';
      background-color: var(--close-color);
      width: 24px;
      height: 1px;
      position: relative;
      top: 11px;
      transition: background-color .2s ease;
    }
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
    &:hover::before,
    &:hover::after{
      background-color: var(--close-hover-color);
    }
  }
}

.loading{
 display: none;
 justify-content: center;
}
.spinner{
  width: 32px;
  height: 32px;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgb(63,249,220);
  background: linear-gradient(0deg, rgba(64,164,220,0.1) 33%, rgba(64,164,220,1) 100%);
  animation: spin .8s linear 0s infinite;
}
.spinner::before {
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 50%;
}
@keyframes spin {
  from {
    transform: rotate(0);
  }
  to{
    transform: rotate(359deg);
  }
}


@media (min-width: 703px) {
  .works{
    justify-content: center;
  }
  .chapter{
    flex: 1;
    position: initial;
    width: auto;
    border-left: solid 1px var(--line);
    margin-left: 0;
    display: none;
    &.open{
      display: flex;
    }
  }
}
